<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Asus/IdeaProjects/ShopPOMProject/src/test/java/automationexercise/tests/SignUpFlowTest.java">
        <classes>
            <class name="automationexercise.tests.SignUpFlowTest">
                <parameter name="browser" value="chrome"></parameter>
<!--                <parameter name="password" value="123456"></parameter>-->
                <methods>
                    <include name="verifyLoginFromLoginPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>